/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

ngb-carousel .carousel-control-prev,
ngb-carousel .carousel-control-next {
  opacity: 1;
  width: 5%;
}

ngb-carousel .carousel-control-prev-icon,
ngb-carousel .carousel-control-next-icon {
  background-color: rgba(137, 43, 226, 0.9);
  border-radius: 50%;
  padding: 10px;
  background-size: 100%, 100%;
}
